@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400&display=swap');

@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('../fonts/优设标题黑.ttf');
}

@font-face {
  font-family: ZhenyanGB;
  src: url('../fonts/ZhenyanGB.ttf');
}

@font-face {
  font-family: Alibaba-PuHuiTi;
  src: url('../fonts/AlibabaPuHuiTi-2-65-Medium.ttf');
}

.html-wrap {
  position: relative;
  left: 50%;

  transform: translate(-50%);
  max-width: 438px;
  height: 100vh;
}

.outtest-box {
  margin: 0 18px;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

// 表单沾满
.van-form {
  * {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
// 渐变背景盒子
.wrap {
  padding-bottom: 60px;
  background: linear-gradient(
    180deg,
    rgba(64, 157, 245, 0.54) 24.931%,
    hsla(0, 0%, 77%, 0.2) 54.697%
  );
}
//
.box {
  margin: 0 12px 0 12px;
}

.main-box {
  margin: 0 12px;
}

// 任务板块内容与盒子
.content-box {
  padding: 26px 13px 12px 13px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
  border-radius: 10px;
}

// 任务详细
.task-info {
  color: rgb(0, 0, 0);
  span:last-child {
    color: rgb(133, 135, 136);
  }

  font-family: Alibaba-PuHuiTi;
  font-size: 14px;
  font-weight: 400;

  & > div {
    display: flex;
    justify-content: space-between;
    &:nth-child(n + 2) {
      margin-top: 11px;
    }
  }
  & > div:last-child {
    @include flex-col();
    & > span:first-child::after {
      content: '*';
      color: rgba(224, 0, 0, 0.6);
    }
    & > span:last-child {
      @include text(rgb(133, 135, 136), 10px, 400);
      opacity: 0.6;
    }
  }
}

// 盒子
.the-box {
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
  border-radius: 10px;
  padding: 12px;
  @include text('', 14px, 400, Alibaba-PuHuiTi);
}

// 任务详情，帖子详情
.post-main-content {
  margin: 20px;
  & > div {
    display: flex;
    & > *:nth-child(n + 2) {
      margin-left: 10px;
      @include text(rgb(0, 0, 0), 12px, 400, Noto Sans SC);
    }
  }
  img {
    width: 50px;
    border-radius: 10px;
  }
  & > div:nth-child(2) {
    margin-top: 12px;
    @include text(rgb(0, 0, 0), 16px, 700, Noto Sans SC);
  }
  & > div:nth-child(3) {
    margin-top: 20px;
    @include text(rgb(0, 0, 0), 14px, 500);
  }
}
